# Replace placeholders with GitHub usernames before first push.
* @buttonoperator @gustavriguez
/I-01_* @layanbargouthi @luislopezrondon @OscarC727
/I-02_* @luislopezrondon @OscarC727
/I-03_* @OscarC727 @kietphantuantran
/I-04_* @luislopezrondon @OscarC727
/I-05_* @layanbargouthi @luislopezrondon
/I-06_* @layanbargouthi @OscarC727 @luislopezrondon
/I-07_* @layanbargouthi @kietphantuantran
/can/ @luislopezrondon @OscarC727
